<h1>新規投稿</h1>
<%= form_with model: @post, local: true do |form| %>
  <p><%= form.label :title, "タイトル" %> <%= form.text_field :title %></p>
  <p><%= form.label :content, "内容" %> <%= form.text_field :content %></p>
  <p><%= form.submit "送信" %></p>
<% end %>
